
.navYLogo_Productos{
    display: flex;
    justify-content: space-between;
    height: auto;
    

    .logo {
        width: 8rem;
        height: auto;
        transition: all 0.6s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .menu__navegacion {
        height: 2rem;
        
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                list-style: none;
                margin: 3rem 1rem;
                .botonCarrito{
                    padding: 0;
                }
                .carritoDeCompras,.ingresoAdmin{
                    &:hover{
                        cursor:pointer;
                        transform: scale(1.2);
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 1.3rem;
                    color: black;
                    transition: all 0.7s;
                    &:hover{
                        padding: 8px;
                        border-radius: 2px;
                        color: #048600;
                        font-size:1.5rem ;
                    }
                }
            }
        }
    }
}
.h1_Productos{
    background-color: rgb(248, 248, 248);
    height: 5rem;
}

.cards_productos{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin: 1rem;
        display: flex; 
        .card-img-top{
            width: auto;
            height: 15rem;
            justify-self: center;
            
        }
    }
}

.menu_Lateral{
    margin-right: 3rem;
    ul{
        li{
            list-style: none;
            a{
                color: black;
            }
        }
    }
    
}